/*style.css v.0.0.4 for KB staging (23.07.18)*/
body {
	 font-family: "Courier New", Courier, monospace!important;
	 background-color: gray;
	 font-size: 1.5vw!important;
	}
.btn {
	font-size: 1.5vw!important;
}
a {
	font-size: 1.5vw!important;
}
.navbar {
	margin-top: 5px;
	margin-bottom: 25px;
	font-size: 1.5vw!important;
}
.status { 
	width: 1920px;
	position: relative;
	left: 15px;
}
.status-container {
	overflow: hidden;
	width: 90%;
	float: left;
}
.status-button {
	float: left;
}
.dropdown-toggle::after {
	display: none;
}
.card {
	margin-bottom: 20px;
}
.nav-link:hover{
	color: #40E0D0!important;
}
#accordion{
	margin-top: 20px;
}
.btn {
	margin-right: 10px;
}
.input-card-body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: auto;
	text-align: left;
}
.section-edit-button {
	float: right;
}
.background-trigger {
	border: 2px solid #1E90FF;
	border-radius: 30px;
	width: 30px;
	height: 30px;
	position: absolute;
	right: 40px;
	top: 20px;
	cursor: pointer;
	background-color: white;
	text-align: center;
}
.background-holder {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	transition: background 3s;
	background-position: center!important;
	background-size: cover!important;
	opacity: 0.1;
}
.container {
	background: transparent;
}